.text {
    font-style: italic;
}

.title {
    font-size: 4;
}
p {
    color:brown;
}
h1 {
    color:blue;
}
body {
    text-align: center;
    font-family: Arial;
    background-color: aqua;
    color: red;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}